h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

section > * {
  width: 200px;
  margin: 10px;
}

 /* img {
  
  width: 100px;
 } */



body {
  width: 960px;
  margin: auto;
}

main{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* #animal-template {
  width: 300px;
  height: 300px;
} */